<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="~/css/carousel.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/my.css">
    <!-- FontAwesome JS -->
    <script defer src="~/js/all.js"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="~/css/theme.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>
<body>
    <header class="header text-center">
        <div class="force-overflow">
            <h1 class="blog-name pt-lg-4 mb-0"><a asp-controller="Home" asp-action="Aboutme">Ahmed Hammad</a></h1>

            <nav class="navbar navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navigation" class="collapse navbar-collapse flex-column">
                    <div class="profile-section pt-3 pt-lg-0">
                        <img class="profile-image mb-3 rounded-circle mx-auto" src="~/Images/AhmedProfile.jpeg" alt="image">

                        <div class="bio mb-3">Hi, I am Ahmed Hammad. I’m a Full Stack Android Developer, working in java and kotlin for complex scalable mobile apps. Welcome to my personal website!</div><!--//bio-->
                        <ul class="social-list list-inline py-2 mx-auto">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw fa-lg"></i></a></li>
                        </ul><!--//social-list-->
                        <hr>
                    </div><!--//profile-section-->

                    <ul class="navbar-nav flex-column text-left">
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Home" asp-action="Aboutme"><i class="fas fa-user fa-fw mr-2"></i>About Me </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Myportfolio"><i class="fas fa-laptop-code fa-fw mr-2"></i>Portfolio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Resume"><i class="fas fa-file-alt fa-fw mr-2"></i>Resume  </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact"><i class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact</a>
                        </li>

                    </ul>

                    <div class="my-2">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Contact" target="_blank"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a>
                    </div>


                    <div class="dark-mode-toggle text-center w-100">
                        <hr class="mb-4">
                        <h4 class="toggle-name mb-3 "><i class="fas fa-adjust mr-1"></i>Dark Mode</h4>

                        <input class="toggle" id="darkmode" type="checkbox">
                        <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>

                    </div><!--//dark-mode-toggle-->

                </div>
            </nav>
        </div><!--//force-overflow-->
    </header>
    <div>

        @RenderBody()

    </div>


    <div class="main-wrapper">
        <footer class="footer text-center py-4">
            <small class="copyright">Android Developer</a></small>
        </footer>

    </div>



    <!-- Javascript -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/proper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/m.js"></script>
    <script src="~/js/testimo.js"></script>
    <!-- Dark Mode -->
    <script src="~/js/cookie.js"></script>
    <script src="~/js/dark.js"></script>

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="~/js/switcher.js"></script>

    <!--Page Specific JS -->
    <script type="text/javascript" src="~/js/image.js"></script>
    <script type="text/javascript" src="~/js/iso.js"></script>

    <script type="text/javascript" src="~/js/custom.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
