
@{
    ViewData["Title"] = "Aboutme";
}

<div class="main-wrapper">

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">

            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Ahmed Hammad</h2>
                <div class="tagline mb-2 ">Software Engineer</div>
                <div class="bio mb-4" style="text-align:justify">
                    A forward-thinking developer building, integrating, testing, and supporting Android applications for mobile and tablet devices on the Android platform. Interpret the System Requirements Specification (SRS) and System Design Specification [SDS] and develop solutions to initiatives that are in line with the intended design and standards. Conceptualizing app solutions with the latest technology, design theory, and a large dose of creativity. Committed to viable and easily functional app solutions for clients.
                </div><!--//bio-->
                <div >
                    <a class="btn btn-primary mr-2 mb-1" asp-controller="Home" asp-action="Myportfolio"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
                    <a class="btn btn-secondary mb-1" asp-controller="Home" asp-action="Resume"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                </div>
            </div><!--//media-body-->
            <img class="profile-image  mb-1 mb-lg-0 ml-lg-5 mr-md-0" src="~/Images/AhmedProfile.jpeg" alt="">
        </div>
    </div>
</section><!--//about-me-section-->

<section class="overview-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">What I do</h2>
        <div class="section-intro mb-5">Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a href="resume.html">online resume</a> and <a href="portfolio.html">project portfolio</a>.</div>
        <div class="row">
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i></div>
                    <h3 class="item-title mt-2">HTML &amp; CSS</h3>
                    <div class="item-desc"style="text-align:justify">HTML (Hypertext Markup Language) and <b>CSS</b> (Cascading Style Sheets) are two of the core technologies for building Web pages. HTML provides the structure of the page, CSS provides the layout, for a variety of devices.</div>
                </div><!--//item-inner-->

            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><img style="width:25px; height: 25px" id="do" src="~/Images/kotlin.jpeg" /></div>
                    <h3 class="item-title mt-2">Kotlin</h3>
                    <div class="item-desc"style="text-align:justify">Kotlin is a cross-platform, statically typed, general-purpose programming language with support for type inference. It was designed by JetBrains (the company behind IntelliJ IDEA), and was designed to interoperate fully with Java. Kotlin mainly targets the JVM but also compiles to JavaScript or native code (via LLVM).</div>
                </div><!--//item-inner-->

            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-java"></i></div>
                    <h3 class="item-title">Java</h3>
                    <div class="item-desc" style="text-align:justify">
                        Java is defined by a specification and consists of a programming language, a compiler, core libraries and a runtime (Java virtual machine)
                        The Java runtime allows software developers to write program code in other languages than the Java programming language which still runs on 
                        the Java virtual machine.
                    </div>
                </div><!--//item-inner-->

            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-android"></i></div>
                    <h3 class="item-title">Android Studio</h3>
                    <div class="item-desc" style="text-align:justify">
                        Bootstrap is a free and open source <b>Front-End</b> development framework for the creation of websites and web apps. The Bootstrap is built on HTML, CSS, and JavaScript (JS) to facilitate the development of responsive, mobile-first sites and apps.
                    </div>
                </div><!--//item-inner-->



            </div><!--//item-->



            <div class="item col-6 col-lg-3">
                <div class="item-inner">

                    <div class="item-icon"><img id="do"style="width:25px; height: 25px" src="~/Images/illustrator.jpg" /></div>
                    <h3 class="item-title">Adobe Illustrator</h3>
                    <div class="item-desc" style="text-align:justify">
                        Adobe Illustrator is a professional quality graphic art program. Its applications are diverse, from creating print to web graphics and, for our purposes, posters. Although the program is complex and requires a significant amount of time to truly master, it is quite easy to learn the basics and create work with a professional appearance.
                    </div>
                </div><!--//item-->

            </div><!--//item-inner-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">

                    <div class="item-icon"><img style="width:25px; height: 25px" src="~/Images/XML.jpg" /></div>
                    <h3 class="item-title">XML</h3>
                    <div class="item-desc" style="text-align:justify">
                        Extensible Markup Language (XML) is a markup language that defines a set of rules for encoding documents in a format that is both human-readable and machine-readable.The design goals of XML focus on simplicity,generality,and usability across the Internet.
                    </div>
                </div><!--//item-->

            </div><!--//item-inner-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">

                    <div class="item-icon"><img style="width:25px; height: 25px" src="~/Images/SDK.jpg" /></div>
                    <h3 class="item-title">Android SDK</h3>
                    <div class="item-desc">
                        SDK provides a selection of tools required to build Android apps or to ensure the process goes as smoothly as possible. Whether you end up creating an app with Java, Kotlin or C#, you need the SDK to get it to run on an Android device and access unique features of the OS. 
                    </div>
                </div><!--//item-->

            </div><!--//item-inner-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">

                    <div class="item-icon"><img style="width:30px; height: 30px" src="~/Images/icons8-adobe-photoshop-48.png" /></div>
                    <h3 class="item-title">Adobe Photoshop</h3>
                    <div class="item-desc">
                        The world's best imaging and graphic design software is at the core of just about every creative project, from photo editing painting and compositing to digital painting, animation, and graphic design.
                    </div>
                </div><!--//item-->

            </div><!--//item-inner-->




        </div><!--//row-->
      

    </div><!--//container-->
</section>

<div class="container"><hr></div>

<section class="testimonials-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Testimonials</h2>
        <div class="testimonial-carousel owl-carousel owl-theme">

            <div class="item">
                <div class="quote-holder">
                    <blockquote class="quote-content">
                    Ahmed Hammad is a good student and always wanted to learn new things.He has been in touch with me from being last four years and I found him very bright student.And i appreciate his interest in Android App development   
                    </blockquote>
                    <i class="fas fa-quote-left"></i>
                </div><!--//quote-holder-->
                <div class="source-holder">
                    <div class="source-profile">
                        <img src="~/Images/naqvi.jpg" alt="image" />
                    </div>
                    <div class="meta">
                        <div class="name">Mustehsan Hammad</div>
                        <div class="info">Head of CS Department, UMT</div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="quote-holder">
                    <blockquote class="quote-content">
                    I am Usman Nazir Ceo of Theta Solutions. Ahmed Hammad did certified training from our institution.He has an excellent performance in carrying out his professional tasks.Best of luck him from Theta Team for future.   
                    </blockquote>
                    <i class="fas fa-quote-left"></i>
                </div><!--//quote-holder-->
                <div class="source-holder">
                    <div class="source-profile">
                        <img src="~/Images/usman.jpg" alt="image" />
                    </div>
                    <div class="meta">
                        <div class="name">Usman Nazir</div>
                        <div class="info">CEO, Theta Solutions</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="quote-holder">
                    <blockquote class="quote-content">
                        Ahmed Hammad is an talented Android developer but what really makes him stand out is his work ethic and steady approach. Time after time he added improvements that resulted in a better end product for us.             
                    </blockquote>
                    <i class="fas fa-quote-left"></i>
                </div><!--//quote-holder-->
                <div class="source-holder">
                    <div class="source-profile">
                        <img src="~/Images/avatars-000142499705-ujiui0-t500x500.jpg" alt="image" />
                    </div>
                    <div class="meta">
                        <div class="name">Mehamood Hafiz</div>
                        <div class="info">CEO, Stelogix Pvt Limited</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="quote-holder">
                    <blockquote class="quote-content">
                    During university period I found him a good student.He always shows his keen interest in Android developement and does not feel hesitate to ask anything and explore new things related to his interested field.    
                    </blockquote>
                    <i class="fas fa-quote-left"></i>
                </div><!--//quote-holder-->
                <div class="source-holder">
                    <div class="source-profile">
                        <img src="~/Images/s200_dr._muhammad_rizwan.saleem.jpg" alt="image" />
                    </div>
                    <div class="meta">
                        <div class="name">Rizwan Saleem</div>
                        <div class="info">Head of IT Department, UMT</div>
                    </div>
                </div>
            </div>







        </div><!--//testimonial-carousel-->
    </div><!--//container-->
</section><!--//testimonials-section-->

<div class="container"><hr></div>


<div class="container">
    <h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card project-card">
                <div class="row no-gutters">
                    <div class="col-lg-4 card-img-holder">
                        <img src="~/Images/MainIslam.jpeg" class="card-img" height="200" alt="image">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/Home/projectpage" class="theme-link">Alkarim Islamic Application</a></h5>
                            <p class="card-text">
                                <b>Alkarim Islamic application </b>which will provide help to Muslims regarding Islamic queries.
                            </p>
                            <p class="card-text"><small class="text-muted">Final Year Project</small></p>
                        </div>
                    </div>
                </div>
                <div class="link-mask">
                    <a class="link-mask-link" href="projectpage.html"></a>
                    <div class="link-mask-text">
                        <a class="btn btn-secondary" asp-controller="Home" asp-action="projectpage">
                            <i class="fas fa-eye mr-2"></i>View Case Study
                        </a>
                    </div>
                </div><!--//link-mask-->
            </div><!--//card-->
        </div><!--//col-->


        <div class="isotope-item col-md-6 mb-5 frontend  Bootstrap">
            <div class="card project-card">
                <div class="row no-gutters">
                    <div class="col-lg-4 card-img-holder">
                        <img src="~/Images/ulimatewallpaper.jpg" class="card-img" alt="image">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/Home/psd" class="theme-link">Ultimate Wallpaper Application</a></h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">Fiverr Project</small></p>
                        </div>
                    </div>
                </div>
                <div class="link-mask">
                    <a class="link-mask-link" href="projectcards.html"></a>
                    <div class="link-mask-text">
                        <a class="btn btn-secondary" asp-controller="Home" asp-action="psd">
                            <i class="fas fa-eye mr-2"></i>View Case Study
                        </a>
                    </div>
                </div><!--//link-mask-->
            </div><!--//card-->
        </div><!--//col-->
        <!--//link>
        <!--//col-->


        <div class="isotope-item col-md-6 mb-5 frontend html">
            <div class="card project-card">
                <div class="row no-gutters">
                    <div class="col-lg-4 card-img-holder">
                        <img src="~/Images/Social.jpg" style="height:150px" class="card-img mt-4" alt="image">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/Home/Projectcards" class="theme-link">Jurrek Society</a></h5>
                            <p class="card-text"><b>Social media facilitate the development</b> of online social networks by connecting a user's profile with those of other individuals or groups.</p>
                            <p class="card-text"><small class="text-muted">Fiverr Project</small></p>
                        </div>
                    </div>
                </div>
                <div class="link-mask">
                    <a class="link-mask-link" href="projectcards.html"></a>
                    <div class="link-mask-text">
                        <a class="btn btn-secondary" asp-controller="Home" asp-action="projectcards">
                            <i class="fas fa-eye mr-2"></i>View Case Study
                        </a>
                    </div>
                </div><!--//link-mask-->
            </div><!--//card-->
        </div><!--//col-->

        <!--//row-->
    </div>
</div>
            <div class="text-center py-3"><a asp-controller="Home" asp-action="Myportfolio" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>

        </div><!--//container-->

