
@{
    ViewData["Title"] = "psd";
}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container single-col-max-width">
            <h2 class="heading text-center">Ultimate Wallpaper Application</h2>
            <div class="project-intro text-center">
                <p class="mb-0 lead">A simple responsive <b> Wallpaper App</b>.</p>
            </div>

        </div><!--//container-->
    </section>
    <section class="project px-3 py-5 p-md-5">
        <div class="container">

            <img style="width: 942px; margin-bottom: 10px;" src="~/Images/wallpaper app/1.jpg" alt="">
            <img style="width: 942px; margin-bottom: 10px;" src="~/Images/wallpaper app/2.jpg" alt="">
            <img style="width: 942px; margin-bottom: 10px;" src="~/Images/wallpaper app/3.jpg" alt="">
            <img style="width: 942px; margin-bottom: 10px;" src="~/Images/wallpaper app/4.jpg" alt="">
            <img style="width: 942px; margin-bottom: 10px;" src="~/Images/wallpaper app/5.jpg" alt="">

        </div>
    </section>


    <section class="promo-section theme-bg-light py-5 text-center">
        <div class="container single-col-max-width">

            <div class="text-center"><a class="btn btn-primary" href="contact.html" target="_blank"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a></div>
        </div><!--//container-->
    </section><!--//promo-section-->


</div><!--//main-wrapper-->
