
@{
    ViewData["Title"] = "Resume";
}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading mb-3">Online Resume</h2>
            <a class="btn btn-primary" href="~/AliHassan-FrontEndWeb.pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a>


        </div><!--//container-->
    </section>
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Ali Hassan</h2>
                        <div class="resume-tagline mb-3 mb-md-0">FrontEnd Web Developer</div>
                    </div><!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link" href="tel:#">+92 336 7305625</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="resume-link" href="mailto:#">iamali62426@gmail.com</a></li>
                             <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Sialkot Pakistan</li>
                        </ul>
                    </div><!--//resume-contact-->
                </div><!--//row-->

            </div><!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="media flex-column flex-md-row align-items-center">
                    <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="~/Images/me.jpg" alt="image">
                    <div class="media-body text-left">
                        <p class="mb-0">I’m a Frontend Web Developer, working mainly on web apps and websites. During studying software engineering I found myself specializing in frontend web development and I started my career as a front-end web developer. During my experience as a frontend Web Developer, I realize I can make an immediate impact on your organization with my unique blend of skills and passion. I've gained hands on expertise in Html, CSS, Bootstrap, JavaScript, jQuery, Ajax, React Js (Basic). During my different internships I’ve also learned how to communicate effectively and professionally, how to meet deadlines, and how to document the solutions.</p>
                    </div><!--//media-body-->
                </div>
            </div><!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">EDUCATION</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Bs Software Engineering</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"> 2016 - 2020</div>

                                </div>
                                <div class="item-content">
                                    <p>University of Management & Technology</p>

                                </div>
                            </div><!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Fsc Pre Engineering</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">2014 - 2016</div>

                                </div>
                                <div class="item-content">
                                    <p>Punjab Group of College </p>

                                </div>
                            </div><!--//item-->




                        </section><!--//work-section-->
                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Certification</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Full Stack Web Developer </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">    Theta Solutions | 2019 – 2019</div>

                                </div>
                                <div class="item-content">
                                    <p>This certificate is presented to me in recognition of successfully completing advance web development training</p>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Proficiency level:  Good </h4>

                                </div>
                            </div><!--//item-->
                           
                         
                        </section><!--//certification-section-->

                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Restaurant Management Solution</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Final Year Project</div>

                                </div>
                                <div class="item-content">
                                    <p>A Restaurant Management Solution with Admin Panel, Tablet App and Kitchen Screen.</p>


                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">E-Commerce Management System & Website</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>

                                </div>
                                <div class="item-content">
                                    <p>A E-Commerce Management System with Admin Panel and website.</p>

                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">E-Commerce Website </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>

                                </div>
                                <div class="item-content">
                                    <p>A simple E-Commerce website builds using React Js</p>

                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Practice Projects</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>

                                </div>
                                <div class="item-content">
                                    <p>Some practice projects PSD to HTML Bootstrap which prove my hand’s on expertise in Front-End web development. </p>

                                </div>
                            </div><!--//item-->
                        </section><!--//project-section-->
                    </div><!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li >Html 5</li>
                                    <li >Css 3</li>
                                
                                    <li >Bootstrap 4</li>
                                    <li >JavaScript</li>
                                    <li >Jquery</li>
                                    <li >Ajax</li>
                                    <li >React Js (Basic)</li>
                                    <li>Visual Studio Code</li>
                                    <li>Bootstrap Studio</li>
                                    <li>Adobe Photoshop</li>
                                    <li>GitHub</li>
                                </ul>
                            </div><!--//item-->
                            <div class="item">
                                <h4 class="item-title">Professional</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">Effective communication</li>
                                    <li class="mb-2">Team player </li>
                                    <li class="mb-2">Good problem solver</li>
                                    <li >Good time management</li>
                                </ul>
                            </div><!--//item-->
                        </section><!--//skills-section-->

 
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2">English <span class="text-muted">(Professional)</span></li>
                                <li>Urdu <span class="text-muted">(Professional)</span></li>
                            </ul>
                        </section><!--//certificates-section-->
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                            <ul class="list-unstyled resume-interests-list mb-0">
                                <li class="mb-2">Exploring Technology</li>
                                <li class="mb-2">Travelling</li>
                                <li class="mb-2">Photography</li>

                            </ul>
                        </section><!--//certificates-section-->

                    </aside><!--//resume-aside-->
                </div><!--//row-->
            </div><!--//resume-body-->
            <hr>
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="#"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/ iamali123      </span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="#"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/ ali-hassan-0475aa199     </span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link" href="#"><i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">AliHass80644189</span></a></li>
                </ul>
            </div><!--//resume-footer-->
        </article>

    </div><!--//container-->
</div>



