
@{
    ViewData["Title"] = "Resume";
}

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading mb-3">Online Resume</h2>
            <a class="btn btn-primary" href="~/AhmedCV.pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a>


        </div><!--//container-->
    </section>
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Ahmed Hammad</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Android Developer</div>
                    </div><!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link" href="tel:#">+92 3067529219</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="resume-link" href="mailto:#">ma6922ma@gmail.com</a></li>
                             <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Sialkot Pakistan</li>
                        </ul>
                    </div><!--//resume-contact-->
                </div><!--//row-->

            </div><!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="media flex-column flex-md-row align-items-center">
                    <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="~/Images/AhmedProfile.jpeg" alt="image">
                    <div class="media-body text-left">
                        <p class="mb-0">A forward-thinking developer building, integrating, testing, and supporting Android applications for mobile and tablet devices on the Android platform. Interpret the System Requirements Specification (SRS) and System Design Specification [SDS] and develop solutions to initiatives that are in line with the intended design and standards. Conceptualizing app solutions with the latest technology, design theory, and a large dose of creativity. Committed to viable and easily functional app solutions for clients. </p>
                        </div><!--//media-body-->
                </div>
            </div><!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">EDUCATION</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Bs Software Engineering</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"> 2016 - 2020</div>

                                </div>
                                <div class="item-content">
                                    <p>University of Management & Technology</p>

                                </div>
                            </div><!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Fsc Pre Engineering</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">2014 - 2016</div>

                                </div>
                                <div class="item-content">
                                    <p>Punjab Group of College </p>

                                </div>
                            </div><!--//item-->




                        </section><!--//work-section-->
                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Certification</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Full Stack Android Developer </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">    Theta Solutions | 2019 – 2019</div>

                                </div>
                                <div class="item-content">
                                    <p>This certificate is presented to me in recognition of successfully completing advance web development training</p>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Proficiency level:  Good </h4>

                                </div>
                            </div><!--//item-->


                        </section><!--//certification-section-->

                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Alkarim Islamic Application</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Final Year Project</div>

                                </div>
                                <div class="item-content">
                                    <p>Alkarim Islamic application which will provide help to Muslims regarding Islamic queries.</p>
                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Ultimate Wallpaper Application</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Fiverr Project</div>

                                </div>
                                <div class="item-content">
                                    <p>This application provides the best wallpapers for your Android phone and tablet. This app allows user to search Creative Commons wallpapers from some wellknown image sharing services. Fast, unlimited wallpaper scrolling interface to easily browse through awesome HD backgrounds in many categories </p>

                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Blurduino</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Fiverr Project</div>

                                </div>
                                <div class="item-content">
                                    <p>A simple android application which is capable to communicate with Arduino using Bluetooth.</p>

                                </div>
                            </div><!--//item-->
                        </section><!--//project-section-->
                                 
                    </div><!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li>Expertise in JAVA</li>
                                    <li>Android SDK</li>
                                
                                    <li>SQLITE</li>
                                    <li> GIT</li>
                                    <li>XML</li>
                                    <li>Material design</li>
                                    <li>Android Studio</li>
                                    <li>Backend Programming</li>
                                    <li>API’s</li>
                                    <li>GitHub</li>
                                    <li>Illustrator</li>
                                </ul>
                            </div><!--//item-->
                            <div class="item">
                                <h4 class="item-title">Professional</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">Effective communication</li>
                                    <li class="mb-2">Team player </li>
                                    <li class="mb-2">Good problem solver</li>
                                    <li >Good time management</li>
                                </ul>
                            </div><!--//item-->
                        </section><!--//skills-section-->

 
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2">English <span class="text-muted">(Professional)</span></li>
                                <li>Urdu <span class="text-muted">(Professional)</span></li>
                            </ul>
                        </section><!--//certificates-section-->
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                            <ul class="list-unstyled resume-interests-list mb-0">
                                <li class="mb-2">Exploring Technology</li>
                                <li class="mb-2">
                                    Programming
                                </li>
                                <li class="mb-2">
                                    Qirat o Naat
                                </li>

                            </ul>
                        </section><!--//certificates-section-->

                    </aside><!--//resume-aside-->
                </div><!--//row-->
            </div><!--//resume-body-->
            <hr>
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="#"><i class="fab fa-facebook fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">facebook.com/Ahmed.hammad6922</span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="#"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/ahmed-hammad-b265a4173 </span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link" href="#"><i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">Ahmed80644189</span></a></li>
                </ul>
            </div><!--//resume-footer-->
        </article>

    </div><!--//container-->
</div>



